body {
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1em;
}

.page {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

* {
    box-sizing: border-box;
}

.nothingfound {
    padding: 1.25rem;
    text-align: center;
    font-size: 1.25em;
    width: 100%;
}

.button_cont {
    display: flex;
    justify-content: center;
    padding: 1.25em;
}

.loaderCont {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    * {
        color: white;
    }

    svg {
        stroke: #fff;
    }

    polyline {
        background-color: #fff;
        fill: #fff;
    }
}