.cast__list {
    padding-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem
}

@media screen and (max-width: 980px) {
    .cast__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 760px) {
    .cast__list {
        grid-template-columns: 1fr 1fr;
    }
}